* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}

.container {
    width: 30%;
    margin: 50px auto;
    height: auto;
    background-color: lightblue;
    box-shadow: 1px 1px 7px 3px black;
}

ul>li {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    cursor: pointer;
}

.container-list .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

ul>li img {
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease-in-out;
}

.info {
    width: 100%;
    background-color: rgb(130, 209, 235);
    max-height: 0;
    overflow: hidden;
}

li.active .info {
    width: 100%;
    max-height: 100px;
    margin-top: 15px;
    padding: 8px;
}

li.active img {
    transform: rotate(90deg);
}